{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": 0,
        "import/no-unresolved": 0,
        "import/no-extraneous-dependencies": 0,
        "react/jsx-props-no-spreading": 0,
        "jsx-a11y/label-has-associated-control": 0
    },
    "env": {
        "jest": true,
        "browser": true
	},
    "globals": {
        "window:": true,
        "document": true,
        "IntersectionObserver": true
	},
}